/* ----------------------------------------------------------------
            WIDTH FROM 992 TO 1200PX IS WRITTEN WITH CSS
---------------------------------------------------------------- */

@media (min-width: 993px) and (max-width: 1200px) {
  /* --------------------------------------------------
              B A N N E R
-------------------------------------------------- */
  #banner_ {
    height: auto !important;
    padding-bottom: 50px;
  }
  .right_banner .upper_images {
    width: 500px;
  }
  /* Removed 22_biglogo.png */
  #logo_remove::after {
    display: none;
  }

  /* -- */
  /* ------ */
  /* ---------- */
  /* --------------------- */
  /* ---------------------------- */
  /* ----------------------------------------- */
}
